.layout-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: -o-radial-gradient(#563371, #170c1f);
    background: radial-gradient(#563371, #170c1f);
    overflow: hidden;
    scroll-behavior: smooth;
}

.site-headers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;

    h1 {
        width: 25vw;
        height: auto;
    }
}

.site-headline {
    font-family: source-code-pro, monospace;
    font-weight: 500;
}

.page-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: auto;
}

.page-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    // -webkit-box-pack: center;
    //     -ms-flex-pack: center;
    //         justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: auto;
}

.work-sans {
    font-family: 'Work Sans';
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.content-left {
    width: 50vw;
    height: 50vh;
    border-radius: 12px;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    overflow: hidden;

    video {
        -o-object-fit: center;
           object-fit: center;
        width: 100%;
        height: auto;
        outline: none;
        background: none;
        border-radius: 12px;
    }
}

.arrow-down {
    margin-top: 5vh;
    width: 75px;
    height: 75px;
    background: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    &:hover {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
    }
}

.arrow-right {
    width: 75px;
    height: 75px;
    background: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-left: 2vw;

    &:hover {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
    }
}

.video {
    width: 50vw;
    height: auto;
    border-radius: 12px;
    background-color: black;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    video {
        -o-object-fit: center;
            object-fit: center;
        width: 100%;
        height: auto;
        outline: none;
        background: none;
        border-radius: 12px;
    }
}

.header-container {
    grid-area: header;
}

.carousel-container {
    grid-area: carousel;
}

.cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;   
}

.cta-text {
    font-family: 'Work Sans';
    font-size: calc(3vw + 12px);
}

.cta-button {
    padding: calc(1vh + 4px) calc(1vw + 4px);
    border: 4px solid white;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-size: 24px;
    font-weight: bold;
    font-family: source-code-pro, monospace;

    &:hover {
        -webkit-transform: scale(1.05) translateZ(0);
                transform: scale(1.05) translateZ(0);
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        background-color: white;
        color: black;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
                box-shadow: 0 6px 12px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    }
}

@media only screen and (max-width: 1600px) {
    .site-headers {

        h1 {
            width: 40vw;
            height: auto;
        }
    }

    .content-left {
        width: 60vw;
        height: 40vh;
    }

    .video {
        width: 50vw;
        height: auto;
    }
}

@media only screen and (max-width: 1200px) {
    .site-headers {
    
        h1 {
            width: 60vw;
            height: auto;
        }
    }

    .site-headline {
        font-size: 40px;
    }

    .content-left {
        width: 80vw;
        height: 40vh;
    }

    .video {
        width: 60vw;
        height: auto;
    }

    .arrow-down {
        margin-top: 5vh;
        width: 50px;
        height: 50px;
    }

    .cta-text {
        font-size: 46px;
    }
    
    .arrow-right {
        width: 50px;
        height: 50px;
        margin-left: 2vw;
    }
}

@media only screen and (max-width: 600px) {
    .site-headers {
        margin-top: -20px;

        h1 {
            width: 80vw;
            height: auto;
        }
    }

    .site-headline {
        font-size: 24px;
        margin: 20px 10px;
        text-align: center;
    }

    .content-left {
        width: 90vw;
        height: 40vh;
    }

    .video {
        width: 90vw;
        height: 40vh;
    }

    .arrow-down {
        margin-top: 3vh;
        width: 40px;
        height: 40px;
    }
    
    .arrow-right {
        width: 30px;
        height: 30px;
        margin-left: 2vw;
    }
}